@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dangrek&display=swap');

:root {
    --bgColor: #8CC461;
    --whiteColor: #ffffff
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.dflex{
    display: flex;
}
.flexDirectionColumn{
    flex-direction: column;
}
.cursor-pointer{
    cursor: pointer;
}
.justifyCenter{
    justify-content: center;
}
.alignCenter{
    align-items: center;
}
.textAlignCenter{
    text-align: center;
}

main {
    width: 100vw;
    height: 100vh;
    background-color: var(--bgColor);
    font-family: Roboto;
    gap: 20px;
    position: relative;
}

header {
    max-width: 800px;
    width: 100%;
    height: 158px;
    border: 2px solid var(--whiteColor);
    border-radius: 13px;
    font-weight: 600;
}

header .leftSection{
    width: 50%;
    padding-left: 20px;
    color: var(--whiteColor);
    font-size: 19px;
    line-height: 46.88px;
    letter-spacing: 0.1em;
}
header .RightSection{
    justify-content: space-around;
    width: 50%;
}

header .RightSection .scoreSection {
    font-size: 20px;
    line-height: 19.92px;
    background-color: #fff;
    width: 139px;
    height: 128px;
    border-radius: 9px;
    color: #656565;
    padding: 10px;
}

header .RightSection .scoreSection h1 {
    font-size: 60px;
    font-weight: 700;
    line-height: 79.69px;
    color: #000;
}

.playContainer{
    position: relative;
    margin-top: 25px;
}

.gameContainer{
    flex-wrap: wrap;
    width: 400px;
    gap:80px;
}

img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.imgContainer {
    width: 100px;
    height: 100px;
    padding: 8px;
    border-radius: 50px;
    background-color:#FFFFFF;
    box-shadow: 3px 0px 21px 1px #00000033 inset;
}
.rockImgcontainer {
    margin-right: 25px;
    border: 11px solid #0074B6;
}
.scissorsimgcontainer{
    margin-left: 25px ;
    border: 11px solid #BD00FF;
}
.paperImgcontainer {
    margin-left: 8px;
    border: 11px solid #FFA943;
}
.rockImgcontainer:active,.scissorsimgcontainer:active,.paperImgcontainer:active {
    transform: translateY(3px); 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2)
}

#transition-Properties{
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

#bacgroundProperties{
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.line1{
    width: 132px;
    top: 41px;
    right: 134px;
}
.line2{
    width: 118px;
    transform: rotate(-120.58deg);
    top: 129px;
    right: 194px; 
}
.line3{
    width: 113px;
    transform: rotate(-60.58deg);
    top: 131px;
    right: 85px;
}
.border-Position-Properties{
    border: 8px solid #000000A3;
    position: absolute;
}

.resultContainer{
    height: 300px;
    max-width: 700px;
    width: 100%;
    gap: 80px;
    color: #fff;
    font-weight: 800;
    display: none;
    margin-top: 5px;
}
.resultContainer .middleContainer h1 {
    font-size: 32px;
    line-height: 45.7px;
    letter-spacing: 0.1em;
}
.resultContainer .middleContainer h2{
    font-size: 23px;
    letter-spacing: 0.1em;
    margin-bottom: 15px;
}
.resultContainer .middleContainer button{
    width: 174px;
    height: 44px;
    border-radius: 9px;
    font-size: 15px;
    font-weight: 600;
    line-height: 17.58px;
    letter-spacing: 0.1em;
    color: #6B6B6B;
    border: none;
    transition: transform 0.1s cubic-bezier(0.22, 0.61, 0.36, 1)
}
.resultContainer .middleContainer button:active, .crossImageContainer:active, .rulesbutton:active, .trophyPlayBtn:active, .nextBtn:active{
    transform: translateY(5px)
}

.rulescontainer{
    width: 315px;
    border-radius: 13px;
    border: 7px solid #fff;
    background-color: #004429;
    font-size: 15px;
    padding: 20px 15px 20px 25px;
    font-weight: 400;
    color: #FFFFFF;
    text-align: left;
    position: absolute;
    bottom: 75px;
    right: 60px;
    display: none;
}
.rulescontainer ul {
    list-style-type: none;
    list-style-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Crect width='10' height='10' fill='yellow'/%3E%3C/svg%3E");
}
.rulescontainer >ul >li >p {
    margin-top: 10px;
    margin-left: 10px;
    flex:1
}
.rulescontainer h2 {
    font-size: 29px;
    font-weight: 500;
    line-height: 33.98px;
}
.crossImageContainer {
    width: 50px;
    height: 50px;
    border: 5px solid #fff;
    background-color: #FF0000;
    border-radius: 50%;
    padding: 5px;
    position: absolute;
    top: 270px;
    right: 50px;
    display: none;
    transition: transform 0.1s cubic-bezier(0.22, 0.61, 0.36, 1)
}

.rulesbutton{
    width: 119px;
    height: 40px;
    border-radius: 10px;
    border: 2px solid #fff;
    font-size: 21px;
    font-weight: 600;
    letter-spacing: 0.1em;
    color: #fff;
    background-color:transparent;
    position: absolute;
    bottom: 25px;
    right: 55px;
    transition: transform 0.1s cubic-bezier(0.22, 0.61, 0.36, 1)
}

.trophycontainer{
    color: #FFFFFF;
    display: none;
}
.trophyImg{
    padding-top: 67px;
}
.trophyImgContainer{
    width: 346.43px;
    height: 201px;
    background-image: url(./assests/star.png);
}
.trophycontainer h1{
    font-size: 70px;
    font-weight: 600;
    letter-spacing: 0.1em;
    margin-top: 20px;
}
.trophycontainer h2{
    font-size: 32px;
    font-weight: 600;
    line-height: 48.05px;
    letter-spacing: 0.1em;
}

.trophyPlayBtn{
    width: 174px;
    height: 44px;
    border-radius: 9px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.1em;
    color: #6B6B6B;
    border: none;
    margin-top: 50px;
    transition: transform 0.1s cubic-bezier(0.22, 0.61, 0.36, 1)
}

#heading {
    font-size: 17px;
    font-weight: 600;
    line-height: 19.92px;
    letter-spacing: 0.1em;
    margin-bottom: 15px;
}

.nextBtn{
    width: 119px;
    height: 40px;
    border-radius: 10px;
    border: 2px solid #fff;
    opacity: 0px;
    color: #fff;
    font-size: 21px;
    font-weight: 600;
    line-height: 17.26px;
    letter-spacing: 0.1em;
    background: transparent;
    position: absolute;
    bottom: 25px;
    right: 55px;
    display: none;
    transition: transform 0.1s cubic-bezier(0.22, 0.61, 0.36, 1)
}
.border-radius{
    border-radius: 50pc;
}

.inner-circle-dimension {
    width: 150px;
    height: 150px;
}
.middle-circle-dimension {
    width: 187px;
    height: 187px;
}
.outer-circle-dimension {
    width: 220px;
    height: 220px;
}

@media only screen and (min-width: 300px) and (max-width: 480px) {
    header .leftSection {
        width: 50%;
        padding-left: 7px;
        font-size: 13px;
    }
    header .RightSection .scoreSection {
        font-size: 12px;
        width: 90px;
    }
    .resultContainer {
        gap: 5px;
        height: 265px;
    }
    .resultContainer .Section2 button {
        width: 130px;
        height: 40px;
        font-size: 13px;
    }
    .resultContainer .Section2 h1 {
        font-size: 27px;
    }
    .resultContainer .Section2 h2 {
        font-size: 18px;
    }
    .resultContainer .middleContainer h1 {
        font-size: 17px;
    }
    .resultContainer .middleContainer h2 {
        font-size: 12px;
    }
    .resultContainer .middleContainer button {
        width: 112px;
        font-size: 12px;
    }
    .crossImageContainer {
        top: 182px;
    }
    .trophycontainer h1 {
        font-size: 50px;
    }
    .trophycontainer h2 {
        font-size: 25px;
    }
    .trophyPlayBtn {
        margin-top: 19px;
    }
    .imgContainer {
        width: 85px;
        height: 85px;
        padding: 5px;
    }
    .line1 {
        width: 132px;
        top: 36px;
        right: 134px;
    }
    .line2 {
        width: 117px;
        top: 119px;
        right: 196px;
    }
    .line3 {
        width: 112px;
        top: 119px;
        right: 86px;
    }
    header .RightSection .scoreSection h1 {
        font-size: 55px;
    }
    .inner-circle-dimension {
        width: 98px;
        height: 98px;
    }
    .middle-circle-dimension {
        width: 115px;
        height: 115px;
    }
    .outer-circle-dimension {
        width: 131px;
        height: 131px;
    }
}


@media only screen and (min-width: 481px) and (max-width: 700px) {
    header .leftSection {
        font-size: 16px;
    }
    header .RightSection .scoreSection {
        font-size: 18px;
        width: 125px;
    }
    header .RightSection .scoreSection h1 {
        font-size: 53px;
        font-weight: 700;
        line-height: 79.69px;
        color: #000;
    }
    .crossImageContainer {
        top: 185px;
    }
    .resultContainer {
        gap: 5px;
    }
    .resultContainer .middleContainer h1 {
        font-size: 26px;
    }
    .resultContainer .middleContainer h2 {
        font-size: 18px;
    }
    .resultContainer .middleContainer button {
        width: 147px;
    }
   
}